@{
    ViewData["Title"] = "Erro";
}

<div class="container mt-5">
    <div class="alert alert-danger text-center">
        <h2>Algo deu errado!</h2>
        <p>Desculpe, ocorreu um erro ao processar sua solicitação.</p>
        <a href="/" class="btn btn-outline-danger">Voltar para a Página Inicial</a>
    </div>
</div>
