@model Usuario

<div class="container">

    <form asp-action="CadastroMoradorRua" method="post">
        <div class="row">
            <h4>Dados pessoais</h4>
            <div class="col-md-6">
                <label asp-for="NomeCompleto"  class="form-label">Nome completo </label>
                <input asp-for="NomeCompleto" class="form-control" type="text" />
            </div>
            <div class="col-md-6">
                <label asp-for="DataNascimento" class="form-label">Data de nascimento </label>
                <input asp-for="DataNascimento" class="form-control" type="date" />
            </div>

            <div class="col-md-6">
                <label class="form-label">CPF </label>
                <input class="form-control" type="text" />
            </div>

            <div class="col-md-6">
                <label class="form-label">RG</label>
                <input class="form-control" type="text" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Telefone fixo </label>
                <input class="form-control" type="text" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Celular</label>
                <input class="form-control" type="text" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Nome mae</label>
                <input class="form-control" type="text" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Foto</label>
                <input class="form-control" type="file" />
            </div>

        </div>
        <br /><br />
        <div class="row">
            <h4>Compisição familiar</h4>
            <div class="col-md-6">
                <label class="form-label">Número de pessoas na família</label>
                <input class="form-control" type="text" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Endereço de referencia</label>
                <input class="form-control" type="text" />
            </div>

        </div>
        <br /><br />
        <div class="row">
            <h4>Situação de Rua</h4>
            <div class="col-md-6">
                <label class="form-label">Tempo de permanência em situação de rua</label>
                <input class="form-control" type="text" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Motivo da situação de rua (se souber)</label>
                <input class="form-control" type="text" />
            </div>

        </div>
        <br /><br />
        <div class="row">
            <h4>Renda e trabalho</em></h4>
            <div class="col-md-6">
                <label class="form-label">Renda de cada membro da família (mesmo que informal)</label>
                <input class="form-control" type="text" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Profissão</label>
                <input class="form-control" type="text" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Participação em programas sociais</label>
                <input class="form-control" type="text" />
            </div>
        </div>


        <br /><br />
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>